Repository blitzy-public-samples/eva-custom-web-app-v7rmqb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @estate-kit/maintainers, @estate-kit/frontend-team, @estate-kit/security-team, @estate-kit/backend-team, @estate-kit/devops-team

Add public-samples/eva-custom-web-app-v7rmqb/infrastructure/terraform/aws/eks/main.tf
  infrastructure/terraform/aws/eks/main.tf
Owners: @estate-kit/devops-team

Add public-samples/eva-custom-web-app-v7rmqb/infrastructure/terraform/aws/eks/variables.tf
  infrastructure/terraform/aws/eks/variables.tf
Owners: @estate-kit/devops-team

Add public-samples/eva-custom-web-app-v7rmqb/infrastructure/terraform/aws/rds/main.tf
  infrastructure/terraform/aws/rds/main.tf
Owners: @estate-kit/devops-team

Add public-samples/eva-custom-web-app-v7rmqb/infrastructure/terraform/aws/rds/variables.tf
  infrastructure/terraform/aws/rds/variables.tf
Owners: @estate-kit/devops-team

Add public-samples/eva-custom-web-app-v7rmqb/infrastructure/terraform/aws/s3/main.tf
  infrastructure/terraform/aws/s3/main.tf
Owners: @estate-kit/devops-team

Add public-samples/eva-custom-web-app-v7rmqb/infrastructure/terraform/aws/s3/variables.tf
  infrastructure/terraform/aws/s3/variables.tf
Owners: @estate-kit/devops-team

Add public-samples/eva-custom-web-app-v7rmqb/infrastructure/terraform/aws/vpc/main.tf
  infrastructure/terraform/aws/vpc/main.tf
Owners: @estate-kit/devops-team

Add public-samples/eva-custom-web-app-v7rmqb/infrastructure/terraform/aws/vpc/variables.tf
  infrastructure/terraform/aws/vpc/variables.tf
Owners: @estate-kit/devops-team

Add public-samples/eva-custom-web-app-v7rmqb/src/backend/.dockerignore
  src/backend/.dockerignore
Owners: @estate-kit/backend-team

Add public-samples/eva-custom-web-app-v7rmqb/src/backend/.env.example
  src/backend/.env.example
Owners: @estate-kit/backend-team

Add public-samples/eva-custom-web-app-v7rmqb/src/backend/.gitignore
  src/backend/.gitignore
Owners: @estate-kit/backend-team

Add public-samples/eva-custom-web-app-v7rmqb/src/backend/Dockerfile
  src/backend/Dockerfile
Owners: @estate-kit/backend-team

Add public-samples/eva-custom-web-app-v7rmqb/src/backend/README.md
  src/backend/README.md
Owners: @estate-kit/backend-team

Add public-samples/eva-custom-web-app-v7rmqb/src/backend/docker-compose.yml
  src/backend/docker-compose.yml
Owners: @estate-kit/backend-team

Add public-samples/eva-custom-web-app-v7rmqb/src/backend/jest.config.ts
  src/backend/jest.config.ts
Owners: @estate-kit/backend-team

Add public-samples/eva-custom-web-app-v7rmqb/src/backend/nodemon.json
  src/backend/nodemon.json
Owners: @estate-kit/backend-team

Add public-samples/eva-custom-web-app-v7rmqb/src/backend/package.json
  src/backend/package.json
Owners: @estate-kit/maintainers, @estate-kit/security-team

Add public-samples/eva-custom-web-app-v7rmqb/src/backend/tsconfig.json
  src/backend/tsconfig.json
Owners: @estate-kit/backend-team

Add public-samples/eva-custom-web-app-v7rmqb/src/backend/openapi/swagger.json
  src/backend/openapi/swagger.json
Owners: @estate-kit/backend-team

Add public-samples/eva-custom-web-app-v7rmqb/src/backend/openapi/schemas/delegate.schema.json
  src/backend/openapi/schemas/delegate.schema.json
Owners: @estate-kit/backend-team

Add public-samples/eva-custom-web-app-v7rmqb/src/backend/openapi/schemas/document.schema.json
  src/backend/openapi/schemas/document.schema.json
Owners: @estate-kit/backend-team

Add public-samples/eva-custom-web-app-v7rmqb/src/backend/openapi/schemas/subscription.schema.json
  src/backend/openapi/schemas/subscription.schema.json
Owners: @estate-kit/backend-team

Add public-samples/eva-custom-web-app-v7rmqb/src/backend/openapi/schemas/user.schema.json
  src/backend/openapi/schemas/user.schema.json
Owners: @estate-kit/backend-team

Add public-samples/eva-custom-web-app-v7rmqb/src/backend/scripts/db-migrate.ts
  src/backend/scripts/db-migrate.ts
Owners: @estate-kit/backend-team

Add public-samples/eva-custom-web-app-v7rmqb/src/backend/scripts/db-seed.ts
  src/backend/scripts/db-seed.ts
Owners: @estate-kit/backend-team

Add public-samples/eva-custom-web-app-v7rmqb/src/backend/scripts/generate-api-docs.ts
  src/backend/scripts/generate-api-docs.ts
Owners: @estate-kit/backend-team

Add public-samples/eva-custom-web-app-v7rmqb/src/backend/scripts/security-audit.ts
  src/backend/scripts/security-audit.ts
Owners: @estate-kit/backend-team

Add public-samples/eva-custom-web-app-v7rmqb/src/backend/src/index.ts
  src/backend/src/index.ts
Owners: @estate-kit/backend-team

Add public-samples/eva-custom-web-app-v7rmqb/src/backend/src/api/controllers/auth.controller.ts
  src/backend/src/api/controllers/auth.controller.ts
Owners: @estate-kit/backend-team

Add public-samples/eva-custom-web-app-v7rmqb/src/backend/src/api/controllers/delegates.controller.ts
  src/backend/src/api/controllers/delegates.controller.ts
Owners: @estate-kit/backend-team

Add public-samples/eva-custom-web-app-v7rmqb/src/backend/src/api/controllers/documents.controller.ts
  src/backend/src/api/controllers/documents.controller.ts
Owners: @estate-kit/backend-team

Add public-samples/eva-custom-web-app-v7rmqb/src/backend/src/api/controllers/subscriptions.controller.ts
  src/backend/src/api/controllers/subscriptions.controller.ts
Owners: @estate-kit/backend-team

Add public-samples/eva-custom-web-app-v7rmqb/src/backend/src/api/controllers/users.controller.ts
  src/backend/src/api/controllers/users.controller.ts
Owners: @estate-kit/backend-team

Add public-samples/eva-custom-web-app-v7rmqb/src/backend/src/api/middlewares/auth.middleware.ts
  src/backend/src/api/middlewares/auth.middleware.ts
Owners: @estate-kit/backend-team

Add public-samples/eva-custom-web-app-v7rmqb/src/backend/src/api/middlewares/error.middleware.ts
  src/backend/src/api/middlewares/error.middleware.ts
Owners: @estate-kit/backend-team

Add public-samples/eva-custom-web-app-v7rmqb/src/backend/src/api/middlewares/logging.middleware.ts
  src/backend/src/api/middlewares/logging.middleware.ts
Owners: @estate-kit/backend-team

Add public-samples/eva-custom-web-app-v7rmqb/src/backend/src/api/middlewares/rbac.middleware.ts
  src/backend/src/api/middlewares/rbac.middleware.ts
Owners: @estate-kit/backend-team

Add public-samples/eva-custom-web-app-v7rmqb/src/backend/src/api/middlewares/validation.middleware.ts
  src/backend/src/api/middlewares/validation.middleware.ts
Owners: @estate-kit/backend-team

Add public-samples/eva-custom-web-app-v7rmqb/src/backend/src/api/routes/auth.ts
  src/backend/src/api/routes/auth.ts
Owners: @estate-kit/backend-team

Add public-samples/eva-custom-web-app-v7rmqb/src/backend/src/api/routes/delegates.ts
  src/backend/src/api/routes/delegates.ts
Owners: @estate-kit/backend-team

.github/CODEOWNERS:

# This file defines code ownership and required reviewers for different parts of the codebase
# Format: pattern  owner1 owner2 ...
# See: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Default owners for everything in the repo (required as a fallback)
*                                               @estate-kit/maintainers

# Frontend application ownership
src/web/**                                      @estate-kit/frontend-team
src/web/src/components/auth/**                  @estate-kit/security-team @estate-kit/frontend-team

# Backend application ownership
src/backend/**                                  @estate-kit/backend-team
src/backend/src/services/auth.service.ts        @estate-kit/security-team @estate-kit/backend-team
src/backend/src/services/encryption.service.ts  @estate-kit/security-team @estate-kit/backend-team
src/backend/src/services/document.service.ts    @estate-kit/security-team @estate-kit/backend-team
src/backend/src/middleware/security/**          @estate-kit/security-team
src/backend/config/**                          @estate-kit/security-team @estate-kit/devops-team

# Infrastructure and deployment ownership
infrastructure/**                               @estate-kit/devops-team
*.tf                                           @estate-kit/devops-team
*.yaml                                         @estate-kit/devops-team

# GitHub workflows and configurations
.github/**                                      @estate-kit/maintainers

# Package dependencies (requires security review)
package*.json                                   @estate-kit/maintainers @estate-kit/security-team
