Repository blitzy-public-samples/eva-custom-web-app-v7rmqb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @estate-kit/maintainers, @estate-kit/frontend-team, @estate-kit/security-team, @estate-kit/backend-team, @estate-kit/devops-team

.github/CODEOWNERS:

# This file defines code ownership and required reviewers for different parts of the codebase
# Format: pattern  owner1 owner2 ...
# See: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Default owners for everything in the repo (required as a fallback)
*                                               @estate-kit/maintainers

# Frontend application ownership
src/web/**                                      @estate-kit/frontend-team
src/web/src/components/auth/**                  @estate-kit/security-team @estate-kit/frontend-team

# Backend application ownership
src/backend/**                                  @estate-kit/backend-team
src/backend/src/services/auth.service.ts        @estate-kit/security-team @estate-kit/backend-team
src/backend/src/services/encryption.service.ts  @estate-kit/security-team @estate-kit/backend-team
src/backend/src/services/document.service.ts    @estate-kit/security-team @estate-kit/backend-team
src/backend/src/middleware/security/**          @estate-kit/security-team
src/backend/config/**                          @estate-kit/security-team @estate-kit/devops-team

# Infrastructure and deployment ownership
infrastructure/**                               @estate-kit/devops-team
*.tf                                           @estate-kit/devops-team
*.yaml                                         @estate-kit/devops-team

# GitHub workflows and configurations
.github/**                                      @estate-kit/maintainers

# Package dependencies (requires security review)
package*.json                                   @estate-kit/maintainers @estate-kit/security-team

BugFix: Automated bug fixes for src/web/src/services/subscription.service.ts
  src/web/src/services/subscription.service.ts
Owners: @estate-kit/frontend-team

BugFix: Automated bug fixes for src/web/src/components/common/Input/Input.tsx
  src/web/src/components/common/Input/Input.tsx
Owners: @estate-kit/frontend-team

BugFix: Automated bug fixes for src/web/src/redux/slices/authSlice.ts
  src/web/src/redux/slices/authSlice.ts
Owners: @estate-kit/frontend-team

BugFix: Automated bug fixes for src/web/src/services/subscription.service.ts
  src/web/src/services/subscription.service.ts
Owners: @estate-kit/frontend-team

BugFix: Automated bug fixes for src/web/src/components/delegates/DelegateForm/DelegateForm.tsx
  src/web/src/components/delegates/DelegateForm/DelegateForm.tsx
Owners: @estate-kit/frontend-team

BugFix: Automated bug fixes for src/web/src/components/profile/ProfileForm/ProfileForm.tsx
  src/web/src/components/profile/ProfileForm/ProfileForm.tsx
Owners: @estate-kit/frontend-team

BugFix: Automated bug fixes for src/web/src/pages/Auth/Register.tsx
  src/web/src/pages/Auth/Register.tsx
Owners: @estate-kit/frontend-team

BugFix: Automated bug fixes for src/web/src/pages/Dashboard/Dashboard.tsx
  src/web/src/pages/Dashboard/Dashboard.tsx
Owners: @estate-kit/frontend-team

BugFix: Automated bug fixes for src/web/src/pages/Subscription/Subscription.tsx
  src/web/src/pages/Subscription/Subscription.tsx
Owners: @estate-kit/frontend-team

BugFix: Automated bug fixes for src/web/src/types/subscription.types.ts
  src/web/src/types/subscription.types.ts
Owners: @estate-kit/frontend-team

BugFix: Automated bug fixes for src/web/src/components/delegates/DelegateForm/DelegateForm.tsx
  src/web/src/components/delegates/DelegateForm/DelegateForm.tsx
Owners: @estate-kit/frontend-team

BugFix: Automated bug fixes for src/web/src/components/profile/ProfileForm/ProfileForm.tsx
  src/web/src/components/profile/ProfileForm/ProfileForm.tsx
Owners: @estate-kit/frontend-team

BugFix: Automated bug fixes for src/web/src/pages/Auth/Register.tsx
  src/web/src/pages/Auth/Register.tsx
Owners: @estate-kit/frontend-team

BugFix: Automated bug fixes for src/web/src/pages/Dashboard/Dashboard.tsx
  src/web/src/pages/Dashboard/Dashboard.tsx
Owners: @estate-kit/frontend-team

BugFix: Automated bug fixes for src/web/src/pages/Subscription/Subscription.tsx
  src/web/src/pages/Subscription/Subscription.tsx
Owners: @estate-kit/frontend-team

BugFix: Automated bug fixes for src/web/src/services/document.service.ts
  src/web/src/services/document.service.ts
Owners: @estate-kit/frontend-team

BugFix: Automated bug fixes for src/web/src/components/delegates/DelegateForm/DelegateForm.tsx
  src/web/src/components/delegates/DelegateForm/DelegateForm.tsx
Owners: @estate-kit/frontend-team

BugFix: Automated bug fixes for src/web/src/components/profile/ProfileForm/ProfileForm.tsx
  src/web/src/components/profile/ProfileForm/ProfileForm.tsx
Owners: @estate-kit/frontend-team

BugFix: Automated bug fixes for src/web/src/pages/Auth/Register.tsx
  src/web/src/pages/Auth/Register.tsx
Owners: @estate-kit/frontend-team

BugFix: Automated bug fixes for src/web/src/pages/Dashboard/Dashboard.tsx
  src/web/src/pages/Dashboard/Dashboard.tsx
Owners: @estate-kit/frontend-team

BugFix: Automated bug fixes for src/web/src/pages/Subscription/Subscription.tsx
  src/web/src/pages/Subscription/Subscription.tsx
Owners: @estate-kit/frontend-team

BugFix: Automated bug fixes for src/web/src/components/common/Form/Form.tsx
  src/web/src/components/common/Form/Form.tsx
Owners: @estate-kit/frontend-team

BugFix: Automated bug fixes for src/web/src/types/subscription.types.ts
  src/web/src/types/subscription.types.ts
Owners: @estate-kit/frontend-team

BugFix: Automated bug fixes for src/web/src/components/common/Form/Form.tsx
  src/web/src/components/common/Form/Form.tsx
Owners: @estate-kit/frontend-team

BugFix: Automated bug fixes for src/web/src/components/delegates/DelegateForm/DelegateForm.tsx
  src/web/src/components/delegates/DelegateForm/DelegateForm.tsx
Owners: @estate-kit/frontend-team

BugFix: Automated bug fixes for src/web/src/components/profile/ProfileForm/ProfileForm.tsx
  src/web/src/components/profile/ProfileForm/ProfileForm.tsx
Owners: @estate-kit/frontend-team

BugFix: Automated bug fixes for src/web/src/pages/Auth/Register.tsx
  src/web/src/pages/Auth/Register.tsx
Owners: @estate-kit/frontend-team

BugFix: Automated bug fixes for src/web/src/pages/Dashboard/Dashboard.tsx
  src/web/src/pages/Dashboard/Dashboard.tsx
Owners: @estate-kit/frontend-team

BugFix: Automated bug fixes for src/web/src/pages/Subscription/Subscription.tsx
  src/web/src/pages/Subscription/Subscription.tsx
Owners: @estate-kit/frontend-team

BugFix: Automated bug fixes for src/web/src/components/common/Input/Input.tsx
  src/web/src/components/common/Input/Input.tsx
Owners: @estate-kit/frontend-team

BugFix: Automated bug fixes for src/web/src/components/common/Form/Form.tsx
  src/web/src/components/common/Form/Form.tsx
Owners: @estate-kit/frontend-team

BugFix: Automated bug fixes for src/web/src/components/delegates/DelegateForm/DelegateForm.tsx
  src/web/src/components/delegates/DelegateForm/DelegateForm.tsx
Owners: @estate-kit/frontend-team

BugFix: Automated bug fixes for src/web/src/components/profile/ProfileForm/ProfileForm.tsx
  src/web/src/components/profile/ProfileForm/ProfileForm.tsx
Owners: @estate-kit/frontend-team

BugFix: Automated bug fixes for src/web/src/pages/Auth/Register.tsx
  src/web/src/pages/Auth/Register.tsx
Owners: @estate-kit/frontend-team

BugFix: Automated bug fixes for src/web/src/pages/Subscription/Subscription.tsx
  src/web/src/pages/Subscription/Subscription.tsx
Owners: @estate-kit/frontend-team

BugFix: Automated bug fixes for src/web/src/types/subscription.types.ts
  src/web/src/types/subscription.types.ts
Owners: @estate-kit/frontend-team

Manual fixes
  src/web/src/components/common/Form/Form.tsx
Owners: @estate-kit/frontend-team

Working package.json
  src/backend/package-lock.json
  src/backend/package.json
  src/backend/src/api/controllers/users.controller.ts
  src/backend/src/config/sanity.ts
  src/backend/src/integrations/sanity.integration.ts
  src/backend/src/services/document.service.ts
  src/backend/tests/unit/services/delegate.service.test.ts
  src/backend/tests/unit/services/subscription.service.test.ts
  src/backend/tsconfig.json
Owners: @estate-kit/maintainers, @estate-kit/security-team, @estate-kit/backend-team

BugFix: Automated bug fixes for src/backend/src/utils/encryption.util.ts
  src/backend/src/utils/encryption.util.ts
Owners: @estate-kit/backend-team

BugFix: Automated bug fixes for src/backend/src/utils/logger.util.ts
  src/backend/src/utils/logger.util.ts
Owners: @estate-kit/backend-team
