Repository blitzy-public-samples/eva-custom-web-app-v7rmqb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @estate-kit/maintainers, @estate-kit/frontend-team, @estate-kit/security-team, @estate-kit/backend-team, @estate-kit/devops-team

BugFix: Automated bug fixes for src/backend/src/db/seeders/provinces.seeder.ts
  src/backend/src/db/seeders/provinces.seeder.ts
Owners: @estate-kit/backend-team

BugFix: Automated bug fixes for src/backend/src/config/intercom.ts
  src/backend/src/config/intercom.ts
Owners: @estate-kit/backend-team

BugFix: Automated bug fixes for src/backend/src/config/sanity.ts
  src/backend/src/config/sanity.ts
Owners: @estate-kit/backend-team

BugFix: Automated bug fixes for src/backend/src/integrations/aws-s3.integration.ts
  src/backend/src/integrations/aws-s3.integration.ts
Owners: @estate-kit/backend-team

BugFix: Automated bug fixes for src/backend/src/db/migrations/003_add_audit_logs.ts
  src/backend/src/db/migrations/003_add_audit_logs.ts
Owners: @estate-kit/backend-team

BugFix: Automated bug fixes for src/backend/src/api/routes/index.ts
  src/backend/src/api/routes/index.ts
Owners: @estate-kit/backend-team

BugFix: Automated bug fixes for src/backend/src/api/middlewares/logging.middleware.ts
  src/backend/src/api/middlewares/logging.middleware.ts
Owners: @estate-kit/backend-team

BugFix: Automated bug fixes for src/backend/src/config/redis.ts
  src/backend/src/config/redis.ts
Owners: @estate-kit/backend-team

BugFix: Automated bug fixes for src/backend/src/utils/pdf.util.ts
  src/backend/src/utils/pdf.util.ts
Owners: @estate-kit/backend-team

BugFix: Automated bug fixes for src/backend/src/integrations/intercom.integration.ts
  src/backend/src/integrations/intercom.integration.ts
Owners: @estate-kit/backend-team

BugFix: Automated bug fixes for src/backend/src/integrations/sanity.integration.ts
  src/backend/src/integrations/sanity.integration.ts
Owners: @estate-kit/backend-team

BugFix: Automated bug fixes for src/backend/src/services/storage.service.ts
  src/backend/src/services/storage.service.ts
Owners: @estate-kit/backend-team

BugFix: Automated bug fixes for src/backend/src/index.ts
  src/backend/src/index.ts
Owners: @estate-kit/backend-team

BugFix: Automated bug fixes for src/backend/src/db/models/permission.model.ts
  src/backend/src/db/models/permission.model.ts
Owners: @estate-kit/backend-team

BugFix: Automated bug fixes for src/backend/src/config/aws.ts
  src/backend/src/config/aws.ts
Owners: @estate-kit/backend-team

BugFix: Automated bug fixes for src/backend/src/types/user.types.ts
  src/backend/src/types/user.types.ts
Owners: @estate-kit/backend-team

BugFix: Automated bug fixes for src/backend/src/services/audit.service.ts
  src/backend/src/services/audit.service.ts
Owners: @estate-kit/backend-team

BugFix: Automated bug fixes for src/backend/src/db/models/user.model.ts
  src/backend/src/db/models/user.model.ts
Owners: @estate-kit/backend-team

BugFix: Automated bug fixes for src/backend/src/types/permission.types.ts
  src/backend/src/types/permission.types.ts
Owners: @estate-kit/backend-team

BugFix: Automated bug fixes for src/backend/package.json
  src/backend/package.json
Owners: @estate-kit/maintainers, @estate-kit/security-team

BugFix: Automated bug fixes for src/backend/src/utils/validation.util.ts
  src/backend/src/utils/validation.util.ts
Owners: @estate-kit/backend-team

BugFix: Automated bug fixes for src/backend/src/services/user.service.ts
  src/backend/src/services/user.service.ts
Owners: @estate-kit/backend-team

BugFix: Automated bug fixes for src/backend/src/integrations/auth0.integration.ts
  src/backend/src/integrations/auth0.integration.ts
Owners: @estate-kit/backend-team

BugFix: Automated bug fixes for src/backend/src/api/middlewares/rbac.middleware.ts
  src/backend/src/api/middlewares/rbac.middleware.ts
Owners: @estate-kit/backend-team

BugFix: Automated bug fixes for src/backend/src/api/controllers/documents.controller.ts
  src/backend/src/api/controllers/documents.controller.ts
Owners: @estate-kit/backend-team

Package.json
  src/backend/package.json
Owners: @estate-kit/maintainers, @estate-kit/security-team

package-lock
  src/backend/package-lock.json
Owners: @estate-kit/maintainers, @estate-kit/security-team

Lock
  src/backend/package-lock.json
Owners: @estate-kit/maintainers, @estate-kit/security-team

BugFix: Automated bug fixes for src/backend/src/utils/encryption.util.ts
  src/backend/src/utils/encryption.util.ts
Owners: @estate-kit/backend-team

BugFix: Automated bug fixes for src/backend/src/services/encryption.service.ts
  src/backend/src/services/encryption.service.ts
Owners: @estate-kit/security-team, @estate-kit/backend-team

BugFix: Automated bug fixes for src/backend/src/services/audit.service.ts
  src/backend/src/services/audit.service.ts
Owners: @estate-kit/backend-team

BugFix: Automated bug fixes for src/backend/src/db/models/user.model.ts
  src/backend/src/db/models/user.model.ts
Owners: @estate-kit/backend-team

BugFix: Automated bug fixes for src/backend/src/types/permission.types.ts
  src/backend/src/types/permission.types.ts
Owners: @estate-kit/backend-team

BugFix: Automated bug fixes for src/backend/src/db/models/delegate.model.ts
  src/backend/src/db/models/delegate.model.ts
Owners: @estate-kit/backend-team

BugFix: Automated bug fixes for src/backend/src/integrations/shopify.integration.ts
  src/backend/src/integrations/shopify.integration.ts
Owners: @estate-kit/backend-team

BugFix: Automated bug fixes for src/backend/src/utils/validation.util.ts
  src/backend/src/utils/validation.util.ts
Owners: @estate-kit/backend-team

BugFix: Automated bug fixes for src/backend/src/types/document.types.ts
  src/backend/src/types/document.types.ts
Owners: @estate-kit/backend-team

BugFix: Automated bug fixes for src/backend/src/integrations/auth0.integration.ts
  src/backend/src/integrations/auth0.integration.ts
Owners: @estate-kit/backend-team

BugFix: Automated bug fixes for src/backend/src/utils/error.util.ts
  src/backend/src/utils/error.util.ts
Owners: @estate-kit/backend-team

BugFix: Automated bug fixes for src/backend/src/services/delegate.service.ts
  src/backend/src/services/delegate.service.ts
Owners: @estate-kit/backend-team

.github/CODEOWNERS:

# This file defines code ownership and required reviewers for different parts of the codebase
# Format: pattern  owner1 owner2 ...
# See: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Default owners for everything in the repo (required as a fallback)
*                                               @estate-kit/maintainers

# Frontend application ownership
src/web/**                                      @estate-kit/frontend-team
src/web/src/components/auth/**                  @estate-kit/security-team @estate-kit/frontend-team

# Backend application ownership
src/backend/**                                  @estate-kit/backend-team
src/backend/src/services/auth.service.ts        @estate-kit/security-team @estate-kit/backend-team
src/backend/src/services/encryption.service.ts  @estate-kit/security-team @estate-kit/backend-team
src/backend/src/services/document.service.ts    @estate-kit/security-team @estate-kit/backend-team
src/backend/src/middleware/security/**          @estate-kit/security-team
src/backend/config/**                          @estate-kit/security-team @estate-kit/devops-team

# Infrastructure and deployment ownership
infrastructure/**                               @estate-kit/devops-team
*.tf                                           @estate-kit/devops-team
*.yaml                                         @estate-kit/devops-team

# GitHub workflows and configurations
.github/**                                      @estate-kit/maintainers

# Package dependencies (requires security review)
package*.json                                   @estate-kit/maintainers @estate-kit/security-team
