Repository blitzy-public-samples/eva-custom-web-app-v7rmqb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @estate-kit/maintainers, @estate-kit/frontend-team, @estate-kit/security-team, @estate-kit/backend-team, @estate-kit/devops-team

BugFix: Automated bug fixes for src/web/src/pages/Settings/Settings.tsx
  src/web/src/pages/Settings/Settings.tsx
Owners: @estate-kit/frontend-team

BugFix: Automated bug fixes for src/web/src/config/intercom.config.ts
  src/web/src/config/intercom.config.ts
Owners: @estate-kit/frontend-team

BugFix: Automated bug fixes for src/web/src/types/auth.types.ts
  src/web/src/types/auth.types.ts
Owners: @estate-kit/frontend-team

BugFix: Automated bug fixes for src/web/src/redux/slices/authSlice.ts
  src/web/src/redux/slices/authSlice.ts
Owners: @estate-kit/frontend-team

BugFix: Automated bug fixes for src/web/src/config/theme.config.ts
  src/web/src/config/theme.config.ts
Owners: @estate-kit/frontend-team

BugFix: Automated bug fixes for src/web/src/hooks/useAuth.ts
  src/web/src/hooks/useAuth.ts
Owners: @estate-kit/frontend-team

BugFix: Automated bug fixes for src/web/src/utils/validation.util.ts
  src/web/src/utils/validation.util.ts
Owners: @estate-kit/frontend-team

BugFix: Automated bug fixes for src/web/src/redux/slices/subscriptionSlice.ts
  src/web/src/redux/slices/subscriptionSlice.ts
Owners: @estate-kit/frontend-team

BugFix: Automated bug fixes for src/web/package.json
  src/web/package.json
Owners: @estate-kit/maintainers, @estate-kit/security-team

BugFix: Automated bug fixes for src/web/src/types/document.types.ts
  src/web/src/types/document.types.ts
Owners: @estate-kit/frontend-team

Manual fixes for package.json
  src/web/package-lock.json
  src/web/package.json
  src/web/src/services/subscription.service.ts
Owners: @estate-kit/maintainers, @estate-kit/security-team, @estate-kit/frontend-team

BugFix: Automated bug fixes for src/web/src/config/auth.config.ts
  src/web/src/config/auth.config.ts
Owners: @estate-kit/frontend-team

BugFix: Automated bug fixes for src/web/src/services/api.service.ts
  src/web/src/services/api.service.ts
Owners: @estate-kit/frontend-team

BugFix: Automated bug fixes for src/web/src/redux/slices/authSlice.ts
  src/web/src/redux/slices/authSlice.ts
Owners: @estate-kit/frontend-team

BugFix: Automated bug fixes for src/web/src/services/delegate.service.ts
  src/web/src/services/delegate.service.ts
Owners: @estate-kit/frontend-team

BugFix: Automated bug fixes for src/web/src/services/subscription.service.ts
  src/web/src/services/subscription.service.ts
Owners: @estate-kit/frontend-team

BugFix: Automated bug fixes for src/web/src/services/document.service.ts
  src/web/src/services/document.service.ts
Owners: @estate-kit/frontend-team

BugFix: Automated bug fixes for src/web/src/hooks/useAuth.ts
  src/web/src/hooks/useAuth.ts
Owners: @estate-kit/frontend-team

BugFix: Automated bug fixes for src/web/src/redux/slices/delegateSlice.ts
  src/web/src/redux/slices/delegateSlice.ts
Owners: @estate-kit/frontend-team

BugFix: Automated bug fixes for src/web/src/components/common/Card/Card.tsx
  src/web/src/components/common/Card/Card.tsx
Owners: @estate-kit/frontend-team

BugFix: Automated bug fixes for src/web/src/redux/slices/subscriptionSlice.ts
  src/web/src/redux/slices/subscriptionSlice.ts
Owners: @estate-kit/frontend-team

BugFix: Automated bug fixes for src/web/src/redux/slices/documentSlice.ts
  src/web/src/redux/slices/documentSlice.ts
Owners: @estate-kit/frontend-team

BugFix: Automated bug fixes for src/web/src/components/layout/Header/Header.tsx
  src/web/src/components/layout/Header/Header.tsx
Owners: @estate-kit/frontend-team

BugFix: Automated bug fixes for src/web/src/routes/PrivateRoute.tsx
  src/web/src/routes/PrivateRoute.tsx
Owners: @estate-kit/frontend-team

BugFix: Automated bug fixes for src/web/src/components/common/Form/Form.tsx
  src/web/src/components/common/Form/Form.tsx
Owners: @estate-kit/frontend-team

BugFix: Automated bug fixes for src/web/src/hooks/useDelegate.ts
  src/web/src/hooks/useDelegate.ts
Owners: @estate-kit/frontend-team

BugFix: Automated bug fixes for src/web/src/components/delegates/DelegateCard/DelegateCard.tsx
  src/web/src/components/delegates/DelegateCard/DelegateCard.tsx
Owners: @estate-kit/frontend-team

BugFix: Automated bug fixes for src/web/src/components/common/Table/Table.tsx
  src/web/src/components/common/Table/Table.tsx
Owners: @estate-kit/frontend-team

BugFix: Automated bug fixes for src/web/src/hooks/useSubscription.ts
  src/web/src/hooks/useSubscription.ts
Owners: @estate-kit/frontend-team

BugFix: Automated bug fixes for src/web/src/components/layout/MainLayout/MainLayout.tsx
  src/web/src/components/layout/MainLayout/MainLayout.tsx
Owners: @estate-kit/frontend-team

BugFix: Automated bug fixes for src/web/src/components/delegates/DelegateForm/DelegateForm.tsx
  src/web/src/components/delegates/DelegateForm/DelegateForm.tsx
Owners: @estate-kit/frontend-team

BugFix: Automated bug fixes for src/web/src/components/delegates/DelegateList/DelegateList.tsx
  src/web/src/components/delegates/DelegateList/DelegateList.tsx
Owners: @estate-kit/frontend-team

BugFix: Automated bug fixes for src/web/src/hooks/useDocument.ts
  src/web/src/hooks/useDocument.ts
Owners: @estate-kit/frontend-team

BugFix: Automated bug fixes for src/web/src/components/documents/DocumentUpload/DocumentUpload.tsx
  src/web/src/components/documents/DocumentUpload/DocumentUpload.tsx
Owners: @estate-kit/frontend-team

BugFix: Automated bug fixes for src/web/src/components/profile/ProfileForm/ProfileForm.tsx
  src/web/src/components/profile/ProfileForm/ProfileForm.tsx
Owners: @estate-kit/frontend-team

BugFix: Automated bug fixes for src/web/src/components/common/Dialog/Dialog.tsx
  src/web/src/components/common/Dialog/Dialog.tsx
Owners: @estate-kit/frontend-team

BugFix: Automated bug fixes for src/web/src/pages/Auth/Login.tsx
  src/web/src/pages/Auth/Login.tsx
Owners: @estate-kit/frontend-team

BugFix: Automated bug fixes for src/web/src/pages/Auth/Register.tsx
  src/web/src/pages/Auth/Register.tsx
Owners: @estate-kit/frontend-team

BugFix: Automated bug fixes for src/web/src/pages/Dashboard/Dashboard.tsx
  src/web/src/pages/Dashboard/Dashboard.tsx
Owners: @estate-kit/frontend-team

BugFix: Automated bug fixes for src/web/src/pages/Delegates/Delegates.tsx
  src/web/src/pages/Delegates/Delegates.tsx
Owners: @estate-kit/frontend-team

.github/CODEOWNERS:

# This file defines code ownership and required reviewers for different parts of the codebase
# Format: pattern  owner1 owner2 ...
# See: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Default owners for everything in the repo (required as a fallback)
*                                               @estate-kit/maintainers

# Frontend application ownership
src/web/**                                      @estate-kit/frontend-team
src/web/src/components/auth/**                  @estate-kit/security-team @estate-kit/frontend-team

# Backend application ownership
src/backend/**                                  @estate-kit/backend-team
src/backend/src/services/auth.service.ts        @estate-kit/security-team @estate-kit/backend-team
src/backend/src/services/encryption.service.ts  @estate-kit/security-team @estate-kit/backend-team
src/backend/src/services/document.service.ts    @estate-kit/security-team @estate-kit/backend-team
src/backend/src/middleware/security/**          @estate-kit/security-team
src/backend/config/**                          @estate-kit/security-team @estate-kit/devops-team

# Infrastructure and deployment ownership
infrastructure/**                               @estate-kit/devops-team
*.tf                                           @estate-kit/devops-team
*.yaml                                         @estate-kit/devops-team

# GitHub workflows and configurations
.github/**                                      @estate-kit/maintainers

# Package dependencies (requires security review)
package*.json                                   @estate-kit/maintainers @estate-kit/security-team
