Repository blitzy-public-samples/eva-custom-web-app-v7rmqb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @estate-kit/maintainers, @estate-kit/frontend-team, @estate-kit/security-team, @estate-kit/backend-team, @estate-kit/devops-team

BugFix: Automated bug fixes for src/backend/src/db/models/document.model.ts
  src/backend/src/db/models/document.model.ts
Owners: @estate-kit/backend-team

BugFix: Automated bug fixes for src/backend/src/api/middlewares/rbac.middleware.ts
  src/backend/src/api/middlewares/rbac.middleware.ts
Owners: @estate-kit/backend-team

BugFix: Automated bug fixes for src/backend/src/config/auth0.ts
  src/backend/src/config/auth0.ts
Owners: @estate-kit/backend-team

BugFix: Automated bug fixes for src/backend/src/integrations/auth0.integration.ts
  src/backend/src/integrations/auth0.integration.ts
Owners: @estate-kit/backend-team

BugFix: Automated bug fixes for src/backend/src/api/validators/delegates.validator.ts
  src/backend/src/api/validators/delegates.validator.ts
Owners: @estate-kit/backend-team

BugFix: Automated bug fixes for src/backend/src/services/document.service.ts
  src/backend/src/services/document.service.ts
Owners: @estate-kit/security-team, @estate-kit/backend-team

BugFix: Automated bug fixes for src/backend/src/services/user.service.ts
  src/backend/src/services/user.service.ts
Owners: @estate-kit/backend-team

BugFix: Automated bug fixes for src/backend/src/api/controllers/subscriptions.controller.ts
  src/backend/src/api/controllers/subscriptions.controller.ts
Owners: @estate-kit/backend-team

BugFix: Automated bug fixes for src/backend/src/api/controllers/delegates.controller.ts
  src/backend/src/api/controllers/delegates.controller.ts
Owners: @estate-kit/backend-team

BugFix: Automated bug fixes for src/backend/src/api/validators/documents.validator.ts
  src/backend/src/api/validators/documents.validator.ts
Owners: @estate-kit/backend-team

BugFix: Automated bug fixes for src/backend/src/api/controllers/documents.controller.ts
  src/backend/src/api/controllers/documents.controller.ts
Owners: @estate-kit/backend-team

BugFix: Automated bug fixes for src/backend/src/utils/pdf.util.ts
  src/backend/src/utils/pdf.util.ts
Owners: @estate-kit/backend-team

BugFix: Automated bug fixes for src/backend/src/integrations/intercom.integration.ts
  src/backend/src/integrations/intercom.integration.ts
Owners: @estate-kit/backend-team

BugFix: Automated bug fixes for src/backend/src/db/models/document.model.ts
  src/backend/src/db/models/document.model.ts
Owners: @estate-kit/backend-team

BugFix: Automated bug fixes for src/backend/src/api/middlewares/auth.middleware.ts
  src/backend/src/api/middlewares/auth.middleware.ts
Owners: @estate-kit/backend-team

Manual fixes
  src/backend/src/api/controllers/documents.controller.ts
Owners: @estate-kit/backend-team

BugFix: Automated bug fixes for src/backend/src/config/auth0.ts
  src/backend/src/config/auth0.ts
Owners: @estate-kit/backend-team

BugFix: Automated bug fixes for src/backend/src/integrations/auth0.integration.ts
  src/backend/src/integrations/auth0.integration.ts
Owners: @estate-kit/backend-team

BugFix: Automated bug fixes for src/backend/src/services/document.service.ts
  src/backend/src/services/document.service.ts
Owners: @estate-kit/security-team, @estate-kit/backend-team

BugFix: Automated bug fixes for src/backend/src/services/user.service.ts
  src/backend/src/services/user.service.ts
Owners: @estate-kit/backend-team

BugFix: Automated bug fixes for src/backend/src/api/controllers/subscriptions.controller.ts
  src/backend/src/api/controllers/subscriptions.controller.ts
Owners: @estate-kit/backend-team

BugFix: Automated bug fixes for src/backend/src/api/controllers/delegates.controller.ts
  src/backend/src/api/controllers/delegates.controller.ts
Owners: @estate-kit/backend-team

BugFix: Automated bug fixes for src/backend/src/api/validators/documents.validator.ts
  src/backend/src/api/validators/documents.validator.ts
Owners: @estate-kit/backend-team

BugFix: Automated bug fixes for src/backend/src/api/controllers/documents.controller.ts
  src/backend/src/api/controllers/documents.controller.ts
Owners: @estate-kit/backend-team

BugFix: Automated bug fixes for src/backend/src/utils/pdf.util.ts
  src/backend/src/utils/pdf.util.ts
Owners: @estate-kit/backend-team

BugFix: Automated bug fixes for src/backend/src/integrations/intercom.integration.ts
  src/backend/src/integrations/intercom.integration.ts
Owners: @estate-kit/backend-team

Manual fixes
  src/backend/src/types/delegate.types.ts
Owners: @estate-kit/backend-team

Fixed the Initial UI
  src/web/index.html
  src/web/src/App.tsx
  src/web/src/components/common/Button/Button.tsx
  src/web/src/components/common/Form/Form.tsx
  src/web/src/components/common/Loading/Loading.tsx
  src/web/src/components/common/Select/Select.tsx
  src/web/src/components/layout/Footer/Footer.tsx
  src/web/src/components/layout/Header/Header.tsx
  src/web/src/components/layout/MainLayout/MainLayout.tsx
  src/web/src/components/layout/Sidebar/Sidebar.tsx
  src/web/src/components/profile/ProfileForm/ProfileForm.tsx
  src/web/src/config/api.config.ts
  src/web/src/config/auth.config.ts
  src/web/src/config/intercom.config.ts
  src/web/src/config/theme.config.ts
  src/web/src/hooks/useAuth.ts
  src/web/src/index.tsx
  src/web/src/pages/Auth/Callback.tsx
  src/web/src/pages/Auth/Login.tsx
  src/web/src/pages/Auth/MFAVerification.tsx
  src/web/src/pages/Dashboard/Dashboard.tsx
  src/web/src/pages/Help/Help.tsx
  src/web/src/pages/Settings/Settings.tsx
  src/web/src/redux/slices/authSlice.ts
  src/web/src/redux/store.ts
  src/web/src/routes/PrivateRoute.tsx
  src/web/src/routes/PublicRoute.tsx
  src/web/src/routes/index.tsx
  src/web/src/services/auth.service.ts
  src/web/src/services/subscription.service.ts
  src/web/src/types/auth.types.ts
  src/web/src/types/delegate.types.ts
Owners: @estate-kit/frontend-team

Fixed the type issue in register page
  src/web/src/pages/Auth/Register.tsx
Owners: @estate-kit/frontend-team

Fixed missing function and fixed the type issues
  src/web/src/components/documents/DocumentCard/DocumentCard.tsx
  src/web/src/pages/Subscription/Subscription.tsx
  src/web/src/services/document.service.ts
Owners: @estate-kit/frontend-team

.github/CODEOWNERS:

# This file defines code ownership and required reviewers for different parts of the codebase
# Format: pattern  owner1 owner2 ...
# See: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Default owners for everything in the repo (required as a fallback)
*                                               @estate-kit/maintainers

# Frontend application ownership
src/web/**                                      @estate-kit/frontend-team
src/web/src/components/auth/**                  @estate-kit/security-team @estate-kit/frontend-team

# Backend application ownership
src/backend/**                                  @estate-kit/backend-team
src/backend/src/services/auth.service.ts        @estate-kit/security-team @estate-kit/backend-team
src/backend/src/services/encryption.service.ts  @estate-kit/security-team @estate-kit/backend-team
src/backend/src/services/document.service.ts    @estate-kit/security-team @estate-kit/backend-team
src/backend/src/middleware/security/**          @estate-kit/security-team
src/backend/config/**                          @estate-kit/security-team @estate-kit/devops-team

# Infrastructure and deployment ownership
infrastructure/**                               @estate-kit/devops-team
*.tf                                           @estate-kit/devops-team
*.yaml                                         @estate-kit/devops-team

# GitHub workflows and configurations
.github/**                                      @estate-kit/maintainers

# Package dependencies (requires security review)
package*.json                                   @estate-kit/maintainers @estate-kit/security-team
