Repository blitzy-public-samples/eva-custom-web-app-v7rmqb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @estate-kit/maintainers, @estate-kit/frontend-team, @estate-kit/security-team, @estate-kit/backend-team, @estate-kit/devops-team

.github/CODEOWNERS:

# This file defines code ownership and required reviewers for different parts of the codebase
# Format: pattern  owner1 owner2 ...
# See: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Default owners for everything in the repo (required as a fallback)
*                                               @estate-kit/maintainers

# Frontend application ownership
src/web/**                                      @estate-kit/frontend-team
src/web/src/components/auth/**                  @estate-kit/security-team @estate-kit/frontend-team

# Backend application ownership
src/backend/**                                  @estate-kit/backend-team
src/backend/src/services/auth.service.ts        @estate-kit/security-team @estate-kit/backend-team
src/backend/src/services/encryption.service.ts  @estate-kit/security-team @estate-kit/backend-team
src/backend/src/services/document.service.ts    @estate-kit/security-team @estate-kit/backend-team
src/backend/src/middleware/security/**          @estate-kit/security-team
src/backend/config/**                          @estate-kit/security-team @estate-kit/devops-team

# Infrastructure and deployment ownership
infrastructure/**                               @estate-kit/devops-team
*.tf                                           @estate-kit/devops-team
*.yaml                                         @estate-kit/devops-team

# GitHub workflows and configurations
.github/**                                      @estate-kit/maintainers

# Package dependencies (requires security review)
package*.json                                   @estate-kit/maintainers @estate-kit/security-team

Add public-samples/eva-custom-web-app-v7rmqb/src/backend/src/services/storage.service.ts
  src/backend/src/services/storage.service.ts
Owners: @estate-kit/backend-team

Add public-samples/eva-custom-web-app-v7rmqb/src/backend/src/services/subscription.service.ts
  src/backend/src/services/subscription.service.ts
Owners: @estate-kit/backend-team

Add public-samples/eva-custom-web-app-v7rmqb/src/backend/src/services/user.service.ts
  src/backend/src/services/user.service.ts
Owners: @estate-kit/backend-team

Add public-samples/eva-custom-web-app-v7rmqb/src/backend/src/types/audit.types.ts
  src/backend/src/types/audit.types.ts
Owners: @estate-kit/backend-team

Add public-samples/eva-custom-web-app-v7rmqb/src/backend/src/types/delegate.types.ts
  src/backend/src/types/delegate.types.ts
Owners: @estate-kit/backend-team

Add public-samples/eva-custom-web-app-v7rmqb/src/backend/src/types/document.types.ts
  src/backend/src/types/document.types.ts
Owners: @estate-kit/backend-team

Add public-samples/eva-custom-web-app-v7rmqb/src/backend/src/types/permission.types.ts
  src/backend/src/types/permission.types.ts
Owners: @estate-kit/backend-team

Add public-samples/eva-custom-web-app-v7rmqb/src/backend/src/types/subscription.types.ts
  src/backend/src/types/subscription.types.ts
Owners: @estate-kit/backend-team

Add public-samples/eva-custom-web-app-v7rmqb/src/backend/src/types/user.types.ts
  src/backend/src/types/user.types.ts
Owners: @estate-kit/backend-team

Add public-samples/eva-custom-web-app-v7rmqb/src/backend/src/utils/encryption.util.ts
  src/backend/src/utils/encryption.util.ts
Owners: @estate-kit/backend-team

Add public-samples/eva-custom-web-app-v7rmqb/src/backend/src/utils/error.util.ts
  src/backend/src/utils/error.util.ts
Owners: @estate-kit/backend-team

Add public-samples/eva-custom-web-app-v7rmqb/src/backend/src/utils/logger.util.ts
  src/backend/src/utils/logger.util.ts
Owners: @estate-kit/backend-team

Add public-samples/eva-custom-web-app-v7rmqb/src/backend/src/utils/pdf.util.ts
  src/backend/src/utils/pdf.util.ts
Owners: @estate-kit/backend-team

Add public-samples/eva-custom-web-app-v7rmqb/src/backend/src/utils/validation.util.ts
  src/backend/src/utils/validation.util.ts
Owners: @estate-kit/backend-team

Add public-samples/eva-custom-web-app-v7rmqb/src/backend/tests/integration/api/auth.test.ts
  src/backend/tests/integration/api/auth.test.ts
Owners: @estate-kit/backend-team

Add public-samples/eva-custom-web-app-v7rmqb/src/backend/tests/integration/api/delegates.test.ts
  src/backend/tests/integration/api/delegates.test.ts
Owners: @estate-kit/backend-team

Add public-samples/eva-custom-web-app-v7rmqb/src/backend/tests/integration/api/documents.test.ts
  src/backend/tests/integration/api/documents.test.ts
Owners: @estate-kit/backend-team

Add public-samples/eva-custom-web-app-v7rmqb/src/backend/tests/integration/api/subscriptions.test.ts
  src/backend/tests/integration/api/subscriptions.test.ts
Owners: @estate-kit/backend-team

Add public-samples/eva-custom-web-app-v7rmqb/src/backend/tests/integration/api/users.test.ts
  src/backend/tests/integration/api/users.test.ts
Owners: @estate-kit/backend-team

Add public-samples/eva-custom-web-app-v7rmqb/src/backend/tests/integration/db/migrations.test.ts
  src/backend/tests/integration/db/migrations.test.ts
Owners: @estate-kit/backend-team

Add public-samples/eva-custom-web-app-v7rmqb/src/backend/tests/mocks/delegate.mock.ts
  src/backend/tests/mocks/delegate.mock.ts
Owners: @estate-kit/backend-team

Add public-samples/eva-custom-web-app-v7rmqb/src/backend/tests/mocks/document.mock.ts
  src/backend/tests/mocks/document.mock.ts
Owners: @estate-kit/backend-team

Add public-samples/eva-custom-web-app-v7rmqb/src/backend/tests/mocks/subscription.mock.ts
  src/backend/tests/mocks/subscription.mock.ts
Owners: @estate-kit/backend-team

Add public-samples/eva-custom-web-app-v7rmqb/src/backend/tests/mocks/user.mock.ts
  src/backend/tests/mocks/user.mock.ts
Owners: @estate-kit/backend-team

Add public-samples/eva-custom-web-app-v7rmqb/src/backend/tests/unit/services/auth.service.test.ts
  src/backend/tests/unit/services/auth.service.test.ts
Owners: @estate-kit/backend-team

Add public-samples/eva-custom-web-app-v7rmqb/src/backend/tests/unit/services/delegate.service.test.ts
  src/backend/tests/unit/services/delegate.service.test.ts
Owners: @estate-kit/backend-team

Add public-samples/eva-custom-web-app-v7rmqb/src/backend/tests/unit/services/document.service.test.ts
  src/backend/tests/unit/services/document.service.test.ts
Owners: @estate-kit/backend-team

Add public-samples/eva-custom-web-app-v7rmqb/src/backend/tests/unit/services/subscription.service.test.ts
  src/backend/tests/unit/services/subscription.service.test.ts
Owners: @estate-kit/backend-team

Add public-samples/eva-custom-web-app-v7rmqb/src/backend/tests/unit/services/user.service.test.ts
  src/backend/tests/unit/services/user.service.test.ts
Owners: @estate-kit/backend-team

Add public-samples/eva-custom-web-app-v7rmqb/src/web/.env.example
  src/web/.env.example
Owners: @estate-kit/frontend-team

Add public-samples/eva-custom-web-app-v7rmqb/src/web/.eslintrc.ts
  src/web/.eslintrc.ts
Owners: @estate-kit/frontend-team

Add public-samples/eva-custom-web-app-v7rmqb/src/web/.gitignore
  src/web/.gitignore
Owners: @estate-kit/frontend-team

Add public-samples/eva-custom-web-app-v7rmqb/src/web/.prettierrc
  src/web/.prettierrc
Owners: @estate-kit/frontend-team

Add public-samples/eva-custom-web-app-v7rmqb/src/web/Dockerfile
  src/web/Dockerfile
Owners: @estate-kit/frontend-team

Add public-samples/eva-custom-web-app-v7rmqb/src/web/README.md
  src/web/README.md
Owners: @estate-kit/frontend-team

Add public-samples/eva-custom-web-app-v7rmqb/src/web/index.html
  src/web/index.html
Owners: @estate-kit/frontend-team

Add public-samples/eva-custom-web-app-v7rmqb/src/web/jest.config.ts
  src/web/jest.config.ts
Owners: @estate-kit/frontend-team

Add public-samples/eva-custom-web-app-v7rmqb/src/web/nginx.conf
  src/web/nginx.conf
Owners: @estate-kit/frontend-team

Add public-samples/eva-custom-web-app-v7rmqb/src/web/package.json
  src/web/package.json
Owners: @estate-kit/maintainers, @estate-kit/security-team

Add public-samples/eva-custom-web-app-v7rmqb/src/web/tsconfig.json
  src/web/tsconfig.json
Owners: @estate-kit/frontend-team
